@using RectangleProblem.Controllers
<div class="starter-template">
    <h1>Welcome</h1>
    <p class="lead">Here's my solution to the rectangle problem.</p>
    
    <div class="row">
        <a class="btn btn-success" href="@Url.Action(RectangleController.GenerateActionName, RectangleController.RectangleControllerName)">
            Start
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    </div>
    
    <br/>

    <div class="row">
        <a class="btn btn-primary" href="https://github.com/amritpurshotam/rectangle-problem" target="_blank">
            Source Code
            <span class="fa fa-github"></span>
        </a>
        <a class="btn btn-primary" href="../../Content/Files/source-code.zip">
            Source Code (Zip)
            <i class="fa fa-code-fork"></i>
        </a>
        <a class="btn btn-primary" href="../../Content/Files/binaries.zip">
            Binaries (Zip)
            <i class="fa fa-cogs"></i>
        </a>
    </div>
    
</div>